@charset "UTF-8";

* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 16px;
}

.container {
  padding-top: 120px;
  align-items: center;
}
.loginForm {
  position: absolute;
  width: 400px;
  height: 400px;
  padding: 30px, 20px;
  background-color: #ffffff;
  text-align: center;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
}

#logo {
  width: 300px;
  height: 200px;
  display: block;
  margin: 0px auto;
}
.textForm {
  border-bottom: 2px solid #adadad;
  margin: 30px;
  padding: 10px 10px;
}
.id {
  width: 100%;
  border: none;
  outline: none;
  color: #636e72;
  font-size: 16px;
  height: 25px;
  background: none;
}

.pw {
  width: 100%;
  border: none;
  outline: none;
  color: #636e72;
  font-size: 16px;
  height: 25px;
  background: none;
}
button {
  position: relative;
  left: 42.5%;
  transform: translateX(-50%);
  margin-bottom: 40px;
  width: 86%;
  height: 40px;
  background: linear-gradient(125deg, #81ecec, #6c5ce7, #81ecec);
  background-position: left;
  background-size: 200%;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: 0.4s;
  display: inline;
}
